* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fondamento', cursive;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
  background-color: #D5BF86;
  background: url(images/texture.jpg);
  background-repeat: no-repeat;
}

#watch {
  display: none;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 50%;
  transition: 1s ease-in;
  animation: fadein 1.5s;
  margin-bottom: -50px;
  margin-left: 20px;
  z-index: 20;
}

#characterImg {
  display: none;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 50%;
  transition: 1s ease-in;
  animation: fadein 1.5s;
  margin-bottom: -50px;
  margin-left: 20px;
  z-index: 20;
  box-shadow: 0 0 40px 10px #fff;

}

@keyframes slideIn {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: translate(400px, 550px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  background: url(images/midnight.jpg);
  background-size: contain;
}

.topDiv {
  position: absolute;
  top: 0;
  color: #D5BF86;
  width: 1000px;
  height: 100px;
  animation: fadein 2s;
  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0.8;

}

.leftDiv {
  position: absolute;
  left: 0;
  text-align: center;
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

.centerDiv {
  position: absolute;
  color: #D5BF86;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightDiv {
  position: absolute;
  right: 0;
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomDiv {
  position: absolute;
  bottom: 0;
  color: #D5BF86;
  text-align: right;
  width: 1000px;
  height: 100px;
  animation: fadein 2s;
  background-color: #000;
  opacity: 0.8;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

#gameOn {
  color: #D5BF86;
  text-shadow: 2px 2px 5px #fff;
}

#gameOn:hover {
  cursor: pointer;
  font-size: 21px;
}

.sceneIntroMsg {
  height: 350px;
  width: 500px;
  background-color: #000;
  opacity: 0.8;
  display: none;
  color: #D5BF86;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadein 2s;
  padding: 10px;
  z-index: 20;
}

.nextButton {
  font-family: 'Fondamento', cursive;
  display: none;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #000;
  background-color: #D5BF86;
  border: 1px solid #000;
  border-radius: 50%;
  animation: fadein 1s;
  z-index: 21;
  box-shadow: 0 0 40px 10px #fff;
}

.nextButton:hover {
  opacity: 0.9;
}

.restartButton {
  font-family: 'Fondamento', cursive;
  display: none;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #000;
  background-color: #D5BF86;
  border: 1px solid #000;
  border-radius: 50%;
  animation: fadein 1s;
  z-index: 21;
  box-shadow: 0 0 40px 10px #fff;
}

.restartButton:hover {
  opacity: 0.9;
}

.userAnswer {
  display: none;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #333333;
  border: 1px solid #D3D3D3;
  border-radius: 50%;
  animation: fadein 1s;
  margin: 5px;
}

.userAnswer:hover {
  opacity: 0.9;
}

#game-board {
  display: none;
  flex-wrap: wrap;
  width: 1000px;
  height: 400px;
  background-color: #000;
  justify-content: space-around;
  align-content: center;
}

.cards {
  width: 100px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
  z-index: 10;
}

.cards:hover {
  opacity: 0.8;
}

.cards:active {
  transform: translateX(3px);
}

#timer {
  color: #fff;
  text-align: center;
  padding: 10px;
}

#shape {
  display: none;
  position: relative;
  z-index: 15;
}

.logos {
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  z-index: 10;
}

.logos:hover {
  opacity: 0.8;
}

.horses {
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  z-index: 10;
}

.horses:active {
  transform: translateY(5px);
}

.horses:hover {
  opacity: 0.8;
}

.horseConfirm {
  font-family: 'Fondamento', cursive;
  border: 1px solid #D5BF86;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin-left: 20px;
  color: #000;
  background-color: #D5BF86;
}

.horseConfirm:active {
  transform: translateY(5px);
}

.imageDiv {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fightImages {
  display: flex;
  width: 180px;
  height: 200px;
  border-radius: 50%;
}

.showHPMsg {
  color: #D5BF86;
  margin-top: 20px;
  width: 150px;
  text-align: center;
}

.actualHP {
  color: #D5BF86;
  margin-top: 20px;
  width: 150px;
  text-align: center;
}

#buttonDiv {
  z-index: 20;
}

.fightButtons {
  font-family: 'Fondamento', cursive;
  display: block;
  border: 1px solid #D5BF86;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 35px;
  font-size: 15px;
  color: #D5BF86;
  background-color: #89341f;
  margin-top: 20px;
}

.fightButtons:hover {
  opacity: 0.9;
}

.fightButtons:active {
  transform: translateY(5px);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.daliGameDivs {
  width: 180px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.daliGameImages {
  display: flex;
  width: 180px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid #D5BF86;
}

.daliGameSelections {
  font-family: 'Fondamento', cursive;
  z-index: 25;
  font-size: 18px;
  height: 30px;
  background-color: #D5BF86;
}

#daliGameSubmit {
  font-family: 'Fondamento', cursive;
  z-index: 25;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #000;
  background-color: #D5BF86;
  border: 1px solid #D5BF86;
  border-radius: 50%;
  margin-left: 20px;
}

#daliGameSubmit:hover {
  opacity: 0.9;
}

#daliGameSubmit:active {
  transform: translateY(5px);
}






